<html>
  <div class="bg"> 
    <div class="card1">
      <div class="text1"><label class="label0">Check Our Best </label> <div class="text2"></div><label class="label1">Promotional Tour</label> </div>
        <div class="paraDiv">
          <p class="para1" style="width: 800px;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="row">
          <div class="column"><img class="img1" src="assets/Mask Group.svg" />
          <a class="txtimg1" routerLink="/firstpage">Beijing</a>
          </div>
          <div class="column"><img class="img1" src="assets/Mask Group2.svg" />
            <a class="txtimg1" routerLink="/scndpage">Turkey</a>
          </div>
          <div class="column"><img class="img2" src="assets/Mask Group3.svg" />
            <a routerLink="/thirdpage" class="txtimg2">Beijing</a>
          </div>
        </div>
    </div>
  </div>
</html>